<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd" colors="true" bootstrap="tests/bootstrap.php">
    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <report>
            <text outputFile="php://stdout" showOnlySummary="true" />
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="APP_ENV" value="test" force="true"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging/>
    <extensions>
        <extension class="App\Tests\extensions\FixturesExtension" >
            <arguments>
                <string>test</string> <!-- $appEnv -->
                <boolean>true</boolean> <!-- $debug -->
                <boolean>true</boolean> <!-- $append -->
            </arguments>
        </extension>
        <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
        <extension class="App\Tests\extensions\SlowTestsExtension">
            <arguments>
                <integer>200</integer> <!-- $slowThreshold -->
                <integer>10</integer> <!-- $reportLength -->
            </arguments>
        </extension>
    </extensions>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
